# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.suo
*.user

# Logs
*.log
npm-debug.log*

# Archivos de entorno local
.env
.env.local

# Node (si se añade en el futuro)
node_modules/
